.linijaKontakt {
    @include linija;
  margin-top: 15px;
}

.map-container {
    width: 100%;
    height: 800px;
    border: 2px solid red;
    background-color: rgb(111, 177, 24);
    position: relative;

    &-inform {
        padding: 20px;
        position: absolute;
        opacity: 0.5;
        font-size: 1.8rem;
        top: 15%;
        left:25%;
        width: 400px;
        height: 300px;
        border: 2px solid blue;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
       

        &--email {
            text-align: start;
            opacity: 1;
            margin: 15px ;
            margin-left: 20px;
        }

        &--telefon {
            text-align: center;
            width: 200px;
            opacity: 1;
            margin: 15px ;
            margin-left: 20px;
        }

        &--adress {
            text-align: start;
            width: 200px;
            opacity: 1;
            margin: 15px ;
            margin-left: 20px;
        }
    }
}



.info__container {

    &__main {
        text-align: center;
        width: 100%;
        height: 800px;
        border: 2px solid red;
        background-color: $color-brand;
    }

    &__heading {
        text-align: start;

        &--naslov {
            font-weight: 100;
        }
    }

    &__form {
       display: flex;
       flex-direction: column;

       &--name {
           margin-bottom: 20px;
           height: 50px;
       }

       &--email {
        margin-bottom: 20px;
        height: 50px;

    }

        &--poruka {
            margin-bottom: 20px;
            height: 220px;
        }

    }
}

.icon {
   
    &-mail {
        margin-right: 20px;
        height: 2rem;
        width: 2rem;
    }

    &-phone {
        margin-right: 20px;
        height: 2rem;
        width: 2rem;
    }

    &-home {
        margin-right: 20px;
        height: 2rem;
        width: 2rem;
    }

}

#myCanvas {
    border: 1px solid black;
}

