@mixin rotacijaKrsta1($prop1, $prop2) {
    &:hover .home-hot-spots__marker1 {
        transform: translateX($prop1) rotateZ($prop2);
    }
}

@mixin rotacijaKrsta2($prop1, $prop2) {
    &:hover .home-hot-spots__marker2 {
        transform: translateX($prop1) rotateZ($prop2);
    }
}

@mixin rotacijaKrsta3($prop1, $prop2) {
    &:hover .home-hot-spots__marker3 {
        transform: translateX($prop1) rotateZ($prop2);
    }
}

@mixin linija {
        border-bottom: 1px solid blue;
        width: 100px;
        margin-bottom: 20px;
 
}

   
