.button-detaljnije{
    background-color: $button-color-gray;
    border: 1px solid $button-color-blue;
    border-radius: 0%;
    transition: all 0.5s;
    width: 200;
    height: 50px;
    padding: 10px 62px;
    margin-top: 30px;
    
}

.button-detaljnije:hover {
    background-color: $button-color-blue;
    color: white;
}

.row-onama {
    padding:115px;
   
}

