.home-categories {
    background-color: aqua;
    height: 500px;
    margin-top: 30px;
    padding: 0;
    transition: all 0.6s;
    
    &--sanitarija {
        background-color: blue;
        padding: 0;
        height: 400px;
        background-image: url(sanitarija-cat.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 90px;

        &--heading {
            transition: all 0.6s;   
        }

        &:hover .home-categories__linkbox {
            opacity: 1;
            height: 100%;
         }

         &:hover &--heading  {
            opacity: 0;
            transform: translateY(-100px);
           
         }

         &:hover &__sanitarijaList {
            opacity: 1;
            transform: translateY(30px);
         }
       
    }

    &--slavine {
        background-color: blue;
        padding: 0;
        height: 400px;
        background-image: url(slavina-cat.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        &--slavine__heading {
            transition: all 0.6s;   
           
        }

        &:hover .home-categories__linkbox {
            opacity: 1;
            height: 100%;
         }

         &:hover &--slavine__heading {
            opacity: 0;
            transform: translateY(-130px);
         }
       
    }

    &--ostalo {
        background-color: blue;
        padding: 0;
        height: 400px;
        background-image: url(ostalo-cat.png);
        background-repeat: no-repeat;
        background-size: cover;
       
        &:hover .home-categories__linkbox {
            opacity: 1;
            height: 100%;
         }

         &--heading {
            transition: all 0.6s;
         }

         &:hover &--heading {
            opacity: 0;
            transform: translateY(-130px);
         }
       
    }

    &-plocice {
        background-color: bisque;
        padding: 0;
        height: 400px;
        background-image: url(plocice-cat.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 30px;
        transition: all 0.6s;

        &--heading {
            transition: all 0.6s;
        }

        &:hover &--heading{
            opacity: 0;
            transform: translateY(-130px);
        }

        &:hover .home-categories__linkbox {
            opacity: 1;
            height: 100%;
         }

         &:hover .home-categories__linkbox--listL {
            opacity: 1;
             transform: translateY(30px);

         }

         &:hover .home-categories__linkbox--listR {
            opacity: 1;
            transform: translateY(30px);

        }
    }

    &__linkbox {
        position: relative;
        background-color: rgba(145, 12, 12, 0.541);
        margin:20px;
        padding:20px;
        height: 100px;
        color:white; 
        transition: all 0.6s;
        font-size: 2rem;

        &--sanitarijaList {
            margin-top: 70px;
            list-style: none;
            color: white;
            opacity: 0;
            transition: all 0.6s;

            a:link,
            a:visited {
                color:white;
             }

             &:hover {
                    opacity: 1;
                    transform: translateY(30px);
             }   
        }

        &:hover &--sanitarijaList {
            opacity: 1;
            transform: translateY(30px);
         }

         ////////////////////////////////////////////////////

         &--slavineList {
            margin-top: 70px;
            list-style: none;
            color: white;
            opacity: 0;
            transition: all 0.6s;

            a:link,
            a:visited {
                color:white;
             }

             &:hover {
                    opacity: 1;
                    transform: translateY(30px);
             }   
        }

        &:hover &--slavineList {
            opacity: 1;
            transform: translateY(30px);
         }
//////////////////////////////////////////////////////////////////////
&--slavineList {
            margin-top: 70px;
            list-style: none;
            color: white;
            opacity: 0;
            transition: all 0.6s;

            a:link,
            a:visited {
                color:white;
             }

             &:hover {
                    opacity: 1;
                    transform: translateY(30px);
             }   
        }

        &:hover &--slavineList {
            opacity: 1;
            transform: translateY(30px);
         }

         ////////////////////////////////////////////

         &--ostaloList {
            margin-top: 70px;
            list-style: none;
            color: white;
            opacity: 0;
            transition: all 0.6s;

            a:link,
            a:visited {
                color:white;
             }

             &:hover {
                    opacity: 1;
                    transform: translateY(30px);
             }   
        }

        &:hover &--ostaloList {
            opacity: 1;
            transform: translateY(30px);
         }
    
        &--listL {
            position: absolute;
            display: block;
            left: 20%;
            list-style: none;
            cursor: pointer;
            color:white; 
            opacity: 0;
            transition: all 0.6s;   

            a:link,
            a:visited {
                color:white;
             }

            &::first-line {
                font-size: 4rem;
            }
    
            
        }
    
        &--listR {
            position: absolute;
            display: block;
            left: 60%;
            text-decoration: none;
            list-style: none;
            cursor: pointer;
            opacity: 0;
            transition: all 0.6s;   

            a:link,
            a:visited {
                color:white;
             }

            &::first-line {
                font-size: 4rem;
            }
    
        }
        
           
        }
      

}

.home-categories-mainheading {
    text-align: center;
    margin-bottom: 50px;

    &--linija {
       margin:0 auto;
    }
}


.paragraf-opisproizvoda {
    text-align: start;
    font-size: 1.5rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


   






 