
.reference-header {
    background-image: url("../img/reference-bg.jpg");
    width: 100%;
    min-height: 380px;
}

.reference-text {
    font-size: 20px;
    margin-left: 150px;
    margin-top: 50px;
    height: 400px;
   
}

.linija {
    margin-top: 20px;
    width: 70px;
    height: 1px;
    background-color: $border-color-blue;
}