.reference {
    width: 700px;
    height: 1700px;
    background:  url('../../assets/img/ostalo.jpg') ;
    background-position: 20% 20%;
    background-size: 300px; 
    background-repeat: repeat-y; 
    background-attachment:fixed;
    filter: blur(2px);
    position: relative;

 
    background-color: red;
}

.reference2 {
    width: 700px;
    height: 100px;
    background:  url('../../assets/img/slavina2.jpg') ;
    background-color: blue;
    background-size: 200px; 
    background-repeat: no-repeat; 
    background-clip: content-box;
   
    top: 50px;
}

.roditelj {
    height: 300px;
    width: 400px;
    position: relative;
    background-color: green;
    opacity:1;
    box-shadow: 13px 13px 15px 1px #000000;
    
}

.refpara {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 0%;
    opacity: 0.8;
    color:red;
    
}

.refpara1 {
    font-size: 20px;
    
   
}

.sijalica1 {
    float: left;
    margin-right: 30px;
    filter: blur(2px);
}

.sijalica2 {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    color: red;
}

.linije {
    position: absolute;
    width: 1000px;
    left:130px;
    background-color: yellowgreen; 
    padding: 10px;

    p {
        display: inline-block;
        background-color: blue;
        color:red;
        margin-right: 15px;
    }
}