$color-footer: #5d5757;
$color-primary: rgb(156, 151, 151);
$color-back: yellow;
$color-red: rgb(202, 36, 36);

$proba: 18px;

$font-color-dark:#323232;
$font-color-light:#fdfdfd;

$button-color-blue:#005ba8;
$border-color-blue:#065596;
$button-color-gray:#edeae7;

$navbar-color-gray:rgba(248, 246, 246, 0.658);