
 .header {
    background: linear-gradient(to right, rgba(36, 35, 35, 0.5),  rgba(36, 35, 35, 0.5)), 
      url("./namestaj1.jpg") no-repeat center;
    background-size: cover;
    color:white;
    padding:150px 50px;
    min-height: 50vh;

    &__naslov {
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 2.5rem;
    }

    &__paragraph {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    &__logo {
        margin-top: 20px;
    }
 }
  
   .linija {
       border-bottom: 1px solid blue;
       width: 100px;
       margin-bottom: 20px;
   }


.ikonice {
    padding:200px 10px;
    margin-bottom: 10px;
    background-color:$color-primary;

    &__ikona {
        display: flex;  
        align-items: flex-start;
        justify-content: center;
        border-right: 1px solid blue;
        margin-left: 30px;

        &--img {
            width: auto;
        }
       
        &--description {
            margin-left: 30px;
            margin-right: 10px;

            &--header {
                margin-bottom: 10px;
                margin-top: 0px;
                text-align: start;             
            }
    
            &--text {
              color: aqua;
              text-align: start;
              font-size: 1.2rem;
            }
        }  
    }
}


.galerija {
    padding: 2px;
    background-color:$color-primary;
    transition: all 0.5s;
    width: 100%;
    height: auto;

    &__box {
        margin-left: 25px;
        max-width: 100%;
        padding: 10px;
        border: 2px solid red;
        

        &__img {

            max-width: 100%;
            border: 2px solid blueviolet;
        }
       
    }

    &__img:hover {
       
    }
   
}







@keyframes galerija {
    0% {
     transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

