.pera {
  color: #9c9797;
  background-color: yellow;
  font-size: 30px; }

.slika {
  width: 40%;
  padding: 30px; }

.navbar {
  background-color: white;
  opacity: 0.8;
  height: 60px;
  border-bottom: 1px solid #065596;
  margin-right: 0px; }

.nav-main {
  margin-right: 0px;
  padding-right: 0px; }

a {
  color: #323232;
  font-size: 18px; }

.navbar__brand {
  position: relative;
  background-clip: rgba(248, 246, 246, 0.658); }
  .navbar__brand__image {
    position: absolute;
    margin-left: 10px; }

section-navigation {
  position: relative; }

.modal-header {
  background-color: #9c9797;
  color: white;
  border-top: 3px; }

.close {
  font-size: 35px; }

span {
  color: white;
  opacity: 1; }

.modal-body {
  background-color: #edeae7; }

.btn {
  background-color: #edeae7; }

.footer {
  padding: 0;
  position: relative; }
  .footer__row {
    background-color: #5d5757;
    color: white;
    padding: 50px;
    margin-top: 20px;
    font-size: 17px; }
  .footer__col--links {
    color: red;
    text-align: left; }
  .footer__col--satnica {
    color: blue;
    text-align: left; }
  .footer__col--adresa {
    color: yellow;
    text-align: left;
    margin-left: 40px; }
  .footer__col--social {
    color: white;
    background-color: green; }
    .footer__col--social--facebook {
      background: url("../img/fb-footer.png") no-repeat 50% 50%;
      background-color: red;
      background-size: content;
      display: inline-block;
      width: 30px;
      height: 30px; }
    .footer__col--social--instagram {
      background: url("../img/insta-footer.png") no-repeat 50% 50%;
      background-color: red;
      background-size: content;
      display: inline-block;
      width: 60px;
      height: 30px; }

.container-opisproizvoda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .container-opisproizvoda .paragraf-opisproizvoda {
    flex-grow: 1; }

.onama .header {
  font-size: 18px;
  background: linear-gradient(to right, rgba(36, 35, 35, 0.5), rgba(36, 35, 35, 0.5)), url("./namestaj1.jpg") no-repeat center;
  background-size: cover;
  color: white;
  padding: 70px;
  height: 50vh; }
  .onama .header h3 {
    margin-bottom: 10px; }
  .onama .header img {
    margin-top: 30px; }
  .onama .header .linija {
    border-bottom: 1px solid blue;
    width: 100px;
    margin-bottom: 20px; }

.onama .ikonice {
  padding: 50px 10px; }
  .onama .ikonice .ik1 {
    display: flex;
    border-right: 1px solid blue; }
    .onama .ikonice .ik1 h3 {
      align-self: start; }
  .onama .ikonice .ik2 {
    border-right: 1px solid blue;
    display: flex;
    align-items: center;
    border-right: 1px solid blue; }
    .onama .ikonice .ik2 i {
      justify-self: start; }
    .onama .ikonice .ik2 h3 {
      align-self: start;
      justify-self: center; }
    .onama .ikonice .ik2 p {
      align-self: flex-end; }
  .onama .ikonice .ik3 {
    display: flex;
    align-items: flex-start;
    border-right: 1px solid blue; }

.onama .galerija {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #7e7979; }
  .onama .galerija .gal1 {
    margin: 10px;
    border: 2px solid white; }
  .onama .galerija .gal7 {
    margin: 10px;
    border: 2px solid yellow;
    align-self: flex-end;
    justify-self: flex-start; }
  .onama .galerija img {
    margin: 10px;
    animation: galerija 1.7s; }
  .onama .galerija img:hover {
    transform: scale(1.3); }

.onama .borred {
  border: 30px solid red; }

@keyframes galerija {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.stripe {
  background-image: url("../img/slusalica.png") no-repeat;
  width: 33px;
  height: 33px;
  opacity: 0.9; }

.contact-info {
  background-color: rgba(248, 246, 246, 0.658);
  font-weight: 300;
  color: #323232;
  height: 40px;
  border-bottom: 1px solid #323232; }

.contact-info-phone {
  margin-left: 50px;
  margin-top: 10px; }

.contact-info-email {
  display: inline-block;
  margin-left: 350px;
  margin-top: 10px;
  color: #323232; }

a:link {
  text-decoration: none;
  color: #323232; }

.button-detaljnije {
  background-color: #edeae7;
  border: 1px solid #005ba8;
  border-radius: 0%;
  transition: all 0.5s;
  width: 200;
  height: 50px;
  padding: 10px 62px;
  margin-top: 30px; }

.button-detaljnije:hover {
  background-color: #005ba8;
  color: white; }

.row-onama {
  padding: 115px; }

.reference-header {
  background-image: url("../img/reference-bg.jpg");
  width: 100%;
  min-height: 380px; }

.reference-text {
  font-size: 20px;
  margin-left: 150px;
  margin-top: 50px;
  height: 400px; }

.linija {
  margin-top: 20px;
  width: 70px;
  height: 1px;
  background-color: #065596; }
