.footer {
        padding: 0;
        position: relative;

    &__row {
        background-color: $color-footer;
        color: white;
        padding:50px;
        margin-top:20px;
        font-size: 1.5rem;
    }

    &__col {

        &--links {
            color:white;
            text-align: left;
        }

        &--satnica {
            color:white;
            text-align: left;
        }

        &--adresa {
            color:white;
            text-align: left;
            margin-left: 20px;
            padding:0 20px;

        }

        &--social {
            color:white;
           
            height: 100px;
            margin-left: 20px;
            padding:20px 20px;
            position: relative;
           
          
            &--icon-facebook {
               position: absolute;
                top: 10%;
                width: 30px;
                height: 30px;
                display:block;
                margin-right: 20px;
                fill: aliceblue;
            }

            &--icon-instagram {
                position: absolute;
                top: 80%;
                width: 30px;
                height: 30px;
                display:block;
                margin-right: 20px;
                fill: aliceblue;

            }

        }
  
    }

}



